@import "./mixin";

.banner2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner2_text {
  background-image: url(../../img/Banner2.png);
  background-size: cover;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  gap: 25px;
  h1 {
    font-family: "Signika Negative";
    font-weight: 800;
    font-size: 52px;
    text-transform: capitalize;
    color: #003459;
  }
  h2 {
    font-family: "Signika Negative";
    font-weight: 700;
    font-size: 36px;
    text-transform: capitalize;
    color: #003459;
  }
  p {
    font-family: "Signika Negative";
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #242b33;
  }
  span button:nth-of-type(1) {
    text-align: center;
    border: 1.5px solid #003459;
    border-radius: 57px;
    background-color: transparent;
    padding: 10px 20px;
    font-family: "Signika Negative";
    font-weight: 500;
    font-size: 20px;
    color: #003459;
    i {
      padding: 0 3px;
    }
  }
  span button:nth-of-type(2) {
    margin: 0 15px;
    text-align: center;
    border: none;
    background-color: #003459;
    border-radius: 57px;
    padding: 10px 20px;
    font-family: "Signika Negative";
    font-weight: 500;
    font-size: 20px;
    color: white;
  }
}

@include responsive(ipad) {
    .banner2{
        display: none;
        position: fixed;
    }
}