* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .container {
    width: 90%;
  }
}
img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.background {
  background-image: url(../../img/showcase.png);
  background-size: cover;
}

@media (max-width: 900px) {
  .background {
    background-image: url(../../img/showcase_ipad.png);
    height: 800px;
  }
}
@media (max-width: 512px) {
  .background {
    background-image: url(../../img/showcase_phone.png);
    height: 800px;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.navbar #check {
  display: none;
  position: fixed;
}
.navbar label {
  display: none;
  position: fixed;
}
.navbar label i {
  color: #667479;
  font-size: 18px;
}
.navbar .navbar_links ul {
  display: flex;
  gap: 20px;
}
.navbar .navbar_links ul li a {
  font-family: "Signika Negative";
  font-weight: 700;
  font-size: 18px;
  color: #003459;
}
.navbar .navbar_form form {
  background: #fdfdfd;
  border-radius: 46px;
  padding: 15px 25px;
}
.navbar .navbar_form form button {
  border: none;
  background-color: transparent;
  color: #667479;
  font-size: 18px;
}
.navbar .navbar_form form input {
  background-color: transparent;
  border: none;
  font-family: "Signika Negative";
  font-weight: 700;
  font-size: 18px;
  color: #003459;
  padding: 0 15px;
}
.navbar .navbar_lg button {
  background: #003459;
  border-radius: 57px;
  padding: 15px 25px;
  margin: 0 20px;
  border: none;
  font-family: "Signika Negative";
  font-weight: 700;
  font-size: 18px;
  color: #fdfdfd;
}
.navbar .navbar_lg select {
  background-color: transparent;
  border: none;
  color: #667479;
}

@media (max-width: 900px) {
  .navbar {
    flex-direction: row-reverse;
  }
  .navbar label {
    display: block;
    position: unset;
  }
  .navbar .navbar_links {
    position: fixed;
    top: 0px;
    left: -100%;
    background-color: #003459;
    width: 50vw;
    height: 100vh;
    transition: 0.5s ease-in-out;
  }
  .navbar .navbar_links ul {
    margin: 50px 25px;
    flex-direction: column;
    gap: 15px;
  }
  .navbar .navbar_links ul li a {
    color: white !important;
  }
  .navbar .navbar_form {
    background-color: transparent;
  }
  .navbar .navbar_form form {
    padding: 0;
    background-color: transparent;
  }
  .navbar .navbar_form form input {
    display: none;
    position: fixed;
    padding: 0;
  }
  .navbar .navbar_lg {
    display: none;
    position: fixed;
  }
  #check:checked ~ .navbar_links {
    left: 0;
  }
}
.showcase {
  padding: 100px 0;
}
.showcase .showcase_text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.showcase .showcase_text h1 {
  font-family: "Signika Negative";
  font-weight: 800;
  font-size: 60px;
  text-transform: capitalize;
  color: #002a48;
}
.showcase .showcase_text h2 {
  font-family: "Signika Negative";
  font-weight: 700;
  font-size: 46px;
  text-transform: capitalize;
  color: #002a48;
}
.showcase .showcase_text p {
  font-family: "Signika Negative";
  font-weight: 500;
  font-size: 16px;
  color: #242b33;
  line-height: 25px;
}
.showcase .showcase_text span button:nth-of-type(1) {
  text-align: center;
  border: 1.5px solid #003459;
  border-radius: 57px;
  background-color: transparent;
  padding: 10px 20px;
  font-family: "Signika Negative";
  font-weight: 500;
  font-size: 20px;
  color: #003459;
}
.showcase .showcase_text span button:nth-of-type(1) i {
  padding: 0 3px;
}
.showcase .showcase_text span button:nth-of-type(2) {
  margin: 0 15px;
  text-align: center;
  border: none;
  background-color: #003459;
  border-radius: 57px;
  padding: 10px 20px;
  font-family: "Signika Negative";
  font-weight: 500;
  font-size: 20px;
  color: white;
}

@media (max-width: 900px) {
  .showcase {
    padding: 50px 0;
  }
  .showcase .showcase_text {
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .showcase .showcase_text h1 {
    font-size: 40px;
  }
  .showcase .showcase_text h2 {
    font-size: 23px;
  }
  .showcase .showcase_text p {
    font-size: 8px;
  }
}
@media (max-width: 512px) {
  .showcase_text h1 {
    font-size: 20px;
  }
  .showcase_text h2 {
    font-size: 12px;
  }
  .showcase_text p {
    font-size: 8px;
    text-align: center;
  }
  .showcase_text span button:nth-of-type(1) {
    padding: 5px 10px;
    font-weight: 300;
    font-size: 15px !important;
  }
  .showcase_text span button:nth-of-type(1) i {
    padding: 0;
  }
  .showcase_text span button:nth-of-type(2) {
    padding: 5px 10px;
    font-size: 15px !important;
    font-weight: 300;
  }
}
.dog {
  margin: 50px 0;
}

.dog_box .dog_text h6 {
  font-family: "Signika Negative";
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
.dog_box .dog_text h5 {
  font-family: "Signika Negative";
  margin: 10px 0;
  font-weight: 700;
  font-size: 24px;
  color: #003459;
}
.dog_box .dog_img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  align-items: center;
  justify-content: center;
  margin: 35px 0;
}
.dog_box .dog_img .dog_bord {
  background: #fdfdfd;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}
.dog_box .dog_img .dog_bord img {
  padding: 5px;
}
.dog_box .dog_img .dog_bord h1 {
  font-family: "Signika Negative";
  padding: 5px;
  font-weight: 700;
  font-size: 16px;
  color: #00171f;
}
.dog_box .dog_img .dog_bord h3 {
  font-family: "Signika Negative";
  padding: 5px;
  font-weight: 700;
  font-size: 12px;
  color: #667479;
}
.dog_box .dog_img .dog_bord h2 {
  font-family: "Signika Negative";
  padding: 5px;
  font-weight: 700;
  font-size: 14px;
  color: #00171f;
}

@media (max-width: 900px) {
  .dog_img {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(4, 1fr);
  }
}
@media (max-width: 512px) {
  .dog_bord h1 {
    font-size: 14px;
  }
  .dog_bord h3 {
    font-size: 10px;
  }
  .dog_bord h2 {
    font-size: 12px;
  }
}
.banner1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner1_text {
  background-image: url(../../img/Banner1.png);
  background-size: cover;
  width: 100%;
  padding: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  flex-direction: column;
  gap: 15px;
}
.banner1_text h1 {
  font-family: "Signika Negative";
  font-weight: 800;
  font-size: 52px;
  text-transform: capitalize;
  color: #003459;
}
.banner1_text h2 {
  font-family: "Signika Negative";
  font-weight: 700;
  font-size: 36px;
  text-transform: capitalize;
  color: #003459;
}
.banner1_text p {
  font-family: "Signika Negative";
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  color: #242b33;
}
.banner1_text span button:nth-of-type(1) {
  text-align: center;
  border: 1.5px solid #003459;
  border-radius: 57px;
  background-color: transparent;
  padding: 10px 20px;
  font-family: "Signika Negative";
  font-weight: 500;
  font-size: 20px;
  color: #003459;
}
.banner1_text span button:nth-of-type(1) i {
  padding: 0 3px;
}
.banner1_text span button:nth-of-type(2) {
  margin: 0 15px;
  text-align: center;
  border: none;
  background-color: #003459;
  border-radius: 57px;
  padding: 10px 20px;
  font-family: "Signika Negative";
  font-weight: 500;
  font-size: 20px;
  color: white;
}

@media (max-width: 900px) {
  .banner1 .banner1_text {
    background-image: url(../../img/Banner\ ipad.png);
    height: 600px;
    align-items: center;
    justify-content: flex-start;
  }
  .banner1 .banner1_text p {
    text-align: center;
  }
}
@media (max-width: 512px) {
  .banner1_text {
    background-image: url(../../img/Banner\ phone.png) !important;
  }
  .banner1_text h1 {
    font-size: 28px;
  }
  .banner1_text h2 {
    font-size: 18px;
  }
  .banner1_text p {
    font-size: 8px;
    line-height: 12px;
  }
  .banner1_text span button:nth-of-type(1) {
    padding: 5px 10px;
    font-weight: 300;
    font-size: 10px !important;
  }
  .banner1_text span button:nth-of-type(1) i {
    padding: 0;
  }
  .banner1_text span button:nth-of-type(2) {
    padding: 5px 10px;
    font-size: 10px !important;
    font-weight: 300;
  }
}
.product {
  margin: 50px 0;
}

.product_box .product_text h6 {
  font-family: "Signika Negative";
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
.product_box .product_text h5 {
  font-family: "Signika Negative";
  margin: 10px 0;
  font-weight: 700;
  font-size: 24px;
  color: #003459;
}
.product_box .product_img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: 35px 0;
}
.product_box .product_img .product_bord {
  background: #fdfdfd;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  height: auto;
}
.product_box .product_img .product_bord img {
  padding: 5px;
}
.product_box .product_img .product_bord h1 {
  font-family: "Signika Negative";
  padding: 5px;
  font-weight: 700;
  font-size: 16px;
  color: #00171f;
}
.product_box .product_img .product_bord h3 {
  font-family: "Signika Negative";
  padding: 5px;
  font-weight: 700;
  font-size: 12px;
  color: #667479;
}
.product_box .product_img .product_bord h2 {
  font-family: "Signika Negative";
  padding: 5px;
  font-weight: 700;
  font-size: 14px;
  color: #00171f;
}

@media (max-width: 900px) {
  .product_img {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(4, 1fr);
  }
}
@media (max-width: 512px) {
  .product_bord h1 {
    font-size: 14px;
  }
  .product_bord h3 {
    font-size: 10px;
  }
  .product_bord h2 {
    font-size: 12px;
  }
}
.brends_text {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}
.brends_text span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.brends_text span h2 {
  font-family: "Signika Negative";
  font-weight: 100;
  font-size: 22px;
  color: #000000;
}
.brends_text span h1 {
  font-family: "Signika Negative";
  font-weight: 700;
  font-size: 24px;
  color: #003459;
}
.brends_text button {
  background-color: transparent;
  border: 1.5px solid #003459;
  border-radius: 57px;
  padding: 5px 15px;
}

.brends_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  padding: 0 200px;
}

@media (max-width: 900px) {
  .brends {
    display: none;
    position: fixed;
  }
}
.banner2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner2_text {
  background-image: url(../../img/Banner2.png);
  background-size: cover;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  gap: 25px;
}
.banner2_text h1 {
  font-family: "Signika Negative";
  font-weight: 800;
  font-size: 52px;
  text-transform: capitalize;
  color: #003459;
}
.banner2_text h2 {
  font-family: "Signika Negative";
  font-weight: 700;
  font-size: 36px;
  text-transform: capitalize;
  color: #003459;
}
.banner2_text p {
  font-family: "Signika Negative";
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #242b33;
}
.banner2_text span button:nth-of-type(1) {
  text-align: center;
  border: 1.5px solid #003459;
  border-radius: 57px;
  background-color: transparent;
  padding: 10px 20px;
  font-family: "Signika Negative";
  font-weight: 500;
  font-size: 20px;
  color: #003459;
}
.banner2_text span button:nth-of-type(1) i {
  padding: 0 3px;
}
.banner2_text span button:nth-of-type(2) {
  margin: 0 15px;
  text-align: center;
  border: none;
  background-color: #003459;
  border-radius: 57px;
  padding: 10px 20px;
  font-family: "Signika Negative";
  font-weight: 500;
  font-size: 20px;
  color: white;
}

@media (max-width: 900px) {
  .banner2 {
    display: none;
    position: fixed;
  }
}
.news_text {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}
.news_text span h2 {
  font-family: "Signika Negative";
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
.news_text span h1 {
  font-family: "Signika Negative";
  font-weight: 700;
  font-size: 24px;
  color: #003459;
}
.news_text button {
  border: 1.5px solid #003459;
  background-color: transparent;
  border-radius: 57px;
  padding: 15px;
}

.news_box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}
.news_box .news_bord {
  background: #fdfdfd;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.news_box .news_bord h6 {
  background: #00a7e7;
  border-radius: 28px;
  padding: 10px 5px;
  font-family: "Signika Negative";
  font-weight: 700;
  font-size: 10px;
  color: #fdfdfd;
}
.news_box .news_bord h1 {
  font-family: "Signika Negative";
  font-weight: 700;
  font-size: 14px;
  color: #00171f;
}
.news_box .news_bord p {
  font-family: "Signika Negative";
  font-weight: 400;
  font-size: 12px;
  color: #242b33;
}

@media (max-width: 900px) {
  .news_box {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 512px) {
  .news_text span h2 {
    font-size: 12px;
  }
  .news_text span h1 {
    font-size: 16px;
  }
  .news_bord p br {
    display: none;
  }
}
footer {
  background: linear-gradient(102.87deg, #fceed5 6.43%, #fceed5 78.33%, #ffe7ba 104.24%);
  margin-top: 50px;
}

.footer {
  padding: 50px 0;
}
.footer .footer_form {
  background: #003459;
  border-radius: 16px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.footer .footer_form h1 {
  font-family: "Signika Negative";
  font-weight: 700;
  font-size: 28px;
  text-transform: capitalize;
  color: #fdfdfd;
}
.footer .footer_form form {
  background: #ffffff;
  border-radius: 14px;
  padding: 20px;
  display: flex;
  gap: 20px;
}
.footer .footer_form form input {
  padding: 10px 150px 10px 20px;
  border: 1px solid #99a2a5;
  border-radius: 8px;
  background-color: transparent;
  font-size: 18px;
}
.footer .footer_form form button {
  background: #003459;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  font-family: Signika Negative;
  font-weight: 500;
  font-size: 18px;
  color: #fdfdfd;
}
.footer .footer_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  border-bottom: 2px solid #99a2a5;
}
.footer .footer_links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footer .footer_links ul li a {
  font-family: "Signika Negative";
  font-weight: 500;
  font-size: 16px;
  color: #00171f;
}
.footer .footer_links ul li i {
  font-size: 28px;
  color: #00171f;
}
.footer .footer_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
.footer .footer_info p {
  font-family: "Signika Negative";
  font-weight: 500;
  font-size: 14px;
  color: #667479;
}
.footer .footer_info img {
  width: 100px;
}
.footer .footer_info span {
  font-family: "Signika Negative";
  font-weight: 500;
  font-size: 14px;
  color: #667479;
}

@media (max-width: 900px) {
  .footer_form {
    flex-direction: column;
    gap: 15px;
  }
  .footer_form br {
    display: none;
  }
  .footer_form form input {
    padding: 10px 20px !important;
    font-size: 12px;
  }
  .footer_form form button {
    padding: 10px 75px !important;
  }
  .footer_links {
    flex-direction: column;
    gap: 20px;
  }
  .footer_info {
    flex-direction: column;
    gap: 15px;
  }
  .footer_info p {
    display: none;
    position: fixed;
  }
}
@media (max-width: 512px) {
  .footer_form form {
    flex-direction: column;
  }
  .footer_form form button {
    padding: 10px 20px !important;
  }
}

/*# sourceMappingURL=style.css.map */
